#form-box {
  border: 1px solid mediumpurple;
  font-family: Calibri;
  text-align: center;
  margin-left: 30%;
  margin-top: 100px;
  padding: 20px;
  width: 500px;
  height: 500px;
}

form {
  position: center;
  text-align: center;
  padding: 30px;
}
