<div id="form-box">
  <h1>Calculate this: </h1>
  <label>{{numberA}} + {{numberB}}</label>
  <form [formGroup]="additionForm" (ngSubmit)="validateResult(additionForm.value.result)">
    <label>
      <input id="result" formControlName="result" type="text">
    </label>
    <button type="submit">SUBMIT</button>
  </form>
  <p>{{evaluation}}</p>
</div>
